##db-settings
db-name = Tests
db-ip = 127.0.0.1
db-port = 37821
db-username = postgres
db-password = postgres
connection-timeout = 30000
validation-timeout = 5000
idle-timeout = 300000
max-lifetime = 1800000
minimum-idle = 10
maximum-pool-size = 75

##rabbitmq settings
queue_host = 127.0.0.1
queue_port = 5672
queue_name = queue-sms
queue_exchange = xchg-as-sms
queue_routing_key = sms
queue_username = peter
queue_password = peter

##Polling interval - in seconds (minimum is 20)
poll-interval = 20

##Time to send smses
start_time = 01
stop_time = 23

##UTC by default
timezone = 3

##Message settings

##number of subs to be processed for every poll
message_limit = 300
from = Airtel

#Usable parameters - +{amount}, +{message-type}, +{subscriber-fk}
message_1 = Message 1 +{amount}, +{message-type}, +{subscriber-fk}
message_2 = Message 2
message_3 = Message 3
message_4 = Message 4
message_5 = Message 5

##Number country code
country_code = 254

##Channel (rmq or kannel)
channel = rmq

##Kannel details
kannel-url = http://127.0.0.1:13013/sendsms?username=%s&password=%s&to=%s&text=%s&from=%s
kannel-user = modesms
kannel-password = modesmsz